# Домашнее задание к лекции «Кейс-стади»

Задание 1
Вернемся к набору данных о видеоиграх.

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?  
2) Критикам нравятся больше игры на PC или на PS4?  
3) Критикам больше нравятся стрелялки или стратегии?  

Для каждого вопроса:  

сформулируйте нулевую и альтернативную гипотезы;  
выберите пороговый уровень статистической значимости;  
опишите полученные результаты статистического теста.

In [1]:
import pandas as pd
from scipy import stats as st

In [2]:
vgsales = pd.read_csv('vgsales.txt')

In [3]:
vgsales

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
vgsales.groupby('Genre').count()

,Name,Platform,Year_of_Release,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
Genre,,,,,,,,,,,,,,,
Action,3370,3370,3308,3364,3370,3370,3370,3370,3370,1890,1890,1830,1830,2226,2188
Adventure,1303,1303,1293,1299,1303,1303,1303,1303,1303,323,323,300,300,469,446
Fighting,849,849,837,847,849,849,849,849,849,409,409,399,399,440,438
Misc,1750,1750,1721,1723,1750,1750,1750,1750,1750,523,523,439,439,886,882
Platform,888,888,878,887,888,888,888,888,888,497,497,428,428,569,569
Puzzle,580,580,569,580,580,580,580,580,580,224,224,128,128,347,342
Racing,1249,1249,1226,1248,1249,1249,1249,1249,1249,742,742,641,641,884,872
Role-Playing,1500,1500,1483,1499,1500,1500,1500,1500,1500,737,737,743,743,788,777
Shooter,1323,1323,1296,1321,1323,1323,1323,1323,1323,944,944,924,924,1025,1019
Simulation,874,874,858,870,874,874,874,874,874,352,352,344,344,584,569
Sports,2348,2348,2306,2345,2348,2348,2348,2348,2348,1194,1194,1103,1103,1526,1509
Strategy,683,683,673,680,683,683,683,683,683,302,302,311,311,352,339

Как критики относятся к спортивным играм?

Предположим, что если оценка игры выше 50 баллов, это означает, что отношение к игре хорошее
Нулевая гипотеза = оценки критиков спортивных игр выше 50.
Уровень значимости 5%

In [58]:
vgsales_critic_sport = vgsales[vgsales['Genre'] ==  'Sports'].Critic_Count # фильтрация по жанру спорт и оценкам критиков
vgsales_critic_sport = vgsales_critic_sport.dropna()
alpha = 0.05
result = st.ttest_1samp(vgsales_critic_sport, float(50.0)) # почему не работает если поменять аргументы местами? (50.0, vgsales_critic_sport)
print(result)

if (result.statistic < 0) & (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, среднее ниже 50, то есть критики низко оценивают спортивные игры')
else:
    print('Не отвергаем нулевую нулевую гипотезу, критики высоко оценивают спортивные игры')
    
print(vgsales_critic_sport.mean())
# странное p-value получилось

Ttest_1sampResult(statistic=-73.26226142676057, pvalue=0.0)
Отвергаем нулевую гипотезу, среднее ниже 50, то есть критики низко оценивают спортивные игры
21.030150753768844

Критикам нравятся больше игры на PC или на PS4?

Сопоставим оценки двух выборок
В зависимости от знака статистики определим, какая платформа получает оценки выше. 
Нулевая гипотеза = оценки критиков не отличаются в зависимости от платформы
Уровень значимости 5%

In [66]:
vgsales_PC = vgsales[vgsales['Platform'] ==  'PC'].Critic_Count.dropna()
vgsales_PS4 = vgsales[vgsales['Platform'] ==  'PS4'].Critic_Count.dropna()
alpha = 0.05
result = st.ttest_ind(vgsales_PC, vgsales_PS4, equal_var=False)
print(result)
if result.pvalue > alpha:
    print('не отвергаем нулевую гипотезу, оценка критиков скорей всего не зависит от платформы')
elif result.statistic < 0:
    print('отвергаем нулевую гипотезу и игры на PS3 оцениваются критиками выше')
else: 
    print('отвергаем нулевую гипотезу и игры на PC оцениваются критиками выше')

Ttest_indResult(statistic=-6.809285412326379, pvalue=4.219690816212942e-11)
отвергаем нулевую гипотезу и игры на PS3 оцениваются критиками выше

Критикам больше нравятся стрелялки или стратегии?

Сопоставим оценки двух выборок
В зависимости от знака статистики определим, какой жанр получает оценки выше. 
Нулевая гипотеза = оценки критиков не отличаются в зависимости от жанра
Уровень значимости 5%

In [68]:
vgsales_Shooter = vgsales[vgsales['Genre'] ==  'Shooter'].Critic_Count.dropna()
vgsales_Strategy = vgsales[vgsales['Genre'] ==  'Strategy'].Critic_Count.dropna()
alpha = 0.05
result = st.ttest_ind(vgsales_Shooter, vgsales_Strategy, equal_var=False)
print(result)
if result.pvalue > alpha:
    print('не отвергаем нулевую гипотезу, оценка критиков скорей всего не зависит от жанра')
elif result.statistic < 0:
    print('отвергаем нулевую гипотезу и стратегии оцениваются критиками выше')
else: 
    print('отвергаем нулевую гипотезу и стрелялки оцениваются критиками выше')

Ttest_indResult(statistic=5.802061441694807, pvalue=1.0668209140151195e-08)
отвергаем нулевую гипотезу и стрелялки оцениваются критиками выше

## Задание 2
Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого: 

1) Привидите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Привидите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:  

from sklearn.feature_extraction.text import TfidfVectorizer  

tfidf = TfidfVectorizer()  
tfidf_matrix = tfidf.fit_transform(df.Message)  
names = tfidf.get_feature_names()  
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)  
Можете поэкспериментировать с параметрами TfidfVectorizer;  
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;  
7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;  
8) Опишите результаты при помощи confusion_matrix;  
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [2]:
mail = pd.read_csv('spam.csv')
mail

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
mail['Message'] = mail['Message'].str.lower() # приводим все символы в нижний регистр
mail

     Category                                            Message
0         ham  go until jurong point, crazy.. available only ...
1         ham                      ok lar... joking wif u oni...
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham  u dun say so early hor... u c already then say...
4         ham  nah i don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home?
5569      ham  pity, * was in mood for that. so...any other s...
5570      ham  the guy did some bitching but i acted like i'd...
5571      ham                         rofl. its true to its name

[5572 rows x 2 columns]

In [4]:
import re
def resub(x):
    y = re.sub('[\W_]+', ' ' , x)
    return y

mail['Message'] = mail['Message'].apply(resub) # убираем все кроме букв и цифр
mail

     Category                                            Message
0         ham  go until jurong point crazy available only in ...
1         ham                           ok lar joking wif u oni
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham       u dun say so early hor u c already then say
4         ham  nah i don t think he goes to usf he lives arou...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home
5569      ham  pity was in mood for that so any other suggest...
5570      ham  the guy did some bitching but i acted like i d...
5571      ham                          rofl its true to its name

[5572 rows x 2 columns]

In [5]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\fosty\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
# Функция удаления стоп слов
def find_stop(x):
    text = []
    y = x.split(' ')
#     print(y)
    for word in y:
        if word not in stopwords_set:
            text.append(word)
    myString = ' '.join(text)
    return myString

In [7]:
mail['Message'] = mail['Message'].apply(find_stop)

In [8]:
mail

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                           ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham               u dun say early hor u c already say
4         ham             nah think goes usf lives around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                       ü b going esplanade fr home
5569      ham                             pity mood suggestions
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

In [9]:
import nltk
nltk.download('wordnet')
nltk.download('punkt')

from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\fosty\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\fosty\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [10]:
# функция лемматизации слов
def lemmatizer(x):
    y = x.split(' ')
    text = []
    for i in y:
        word = wordnet_lemmatizer.lemmatize(i)
        text.append(word)
    myString = ' '.join(text)
    return myString

In [11]:
mail['Message'] = mail['Message'].apply(lemmatizer) # Лемматизируем слова

In [12]:
mail

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                           ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham               u dun say early hor u c already say
4         ham                nah think go usf life around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                       ü b going esplanade fr home
5569      ham                              pity mood suggestion
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(mail.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [15]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
X = 
y = 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)